@import '../../styles//responsive_utilities.scss';

.header-bar {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  margin-bottom: 30px;

  .header {
    padding: 0;
    letter-spacing: 1px;
    color: black;
    font-family: 'Poiret One', sans-serif;
    font-weight: normal;
    margin-left: 1em;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .navigation {
    display: none;
  }

  @include whenDesktop {
    .navigation {
      display: flex;
      margin-right: 30px;

      .nav-link {
        font-family: 'Poiret One', sans-serif;
        margin: 0 5px;
        padding: 10px 10px;
        line-height: 36px;
        height: 56px;
        box-sizing: border-box;

        &.active {
          background: #333;
          color: white;
        }
      }
    }
  }
}
