.number-lineup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  flex: 1 0 auto;
  border-radius: 4px;

  .number-card-space {
    height: 20%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
  }

  .number-card {
    display: inline-block;
    margin: auto;
    background: white;
    min-width: 50px;
    min-height: 50px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .number {
      font-weight: bold;
      font-style: italic;
      font-size: 28px;
      position: relative;
      right: 2px;
    }
  }
}
