@import './responsive_utilities.scss';

body {
  background: url('../img/corkboard.jpg');
  background-position: top center;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

@include whenDesktop {
  body {
    font-size: 20px;
  }
}

:root {
  --font-gloria: 'Gloria Hallelujah', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
}
