.floodit-buttons {
  margin: auto;
  text-align: center;

  button {
    border-radius: 50%;
    margin: 0px 5px;
    border: silver 2pt solid;
    height: 45px;
    width: 45px;
    outline: none;
  }
}
