.sherlock-page-content {
  margin: 0 20px;

  .title {
    font-family: 'Poiret One', sans-serif;
    color: white;
    margin-bottom: 20px;
  }

  .jrpg {
    background: #1111a7;
    color: white;
    padding: 10px 15px;
    border: 1px outset;
    border-radius: 4px;
    font-family: 'Ubuntu Mono', sans-serif;
    letter-spacing: 2px;
    margin: 10px 0;
  }

  .dialogue-character {
    position: absolute;
    top: 0;
    transform: translate(10px, -65%);
    width: 80px;
    z-index: 0;
  }

  @media screen and (min-width: 850px) {
    .dialogue-character {
      display: none;
    }
  }
}
