@import '../styles//responsive_utilities.scss';

.app-gallery-tag {
  background: white;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 8px;

  img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border-radius: 4px;
  }
}
