@import '../styles/responsive_utilities.scss';

.games-page {
  .content {
    overflow: hidden;
    padding-bottom: 2em;
  }

  @include whenDesktop {
    .content {
      max-width: 1200px;
      margin: auto;
    }
  }
}
