#gamescreen{
	background-color:#000;
	background-image:url('../img/lib/gs_sher_back.png');
	background-repeat:repeat;
	background-position:center;
}

#gamescreen *{
	overflow:hidden;
/*
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
*/
}

#gamescreen #counter{
	position:absolute;
	right:0.5em;
	top: 0;
	font-size:1.5em;
	text-shadow: 2pt 0pt 0pt black;
	color:#ddd;
}

/* cutoff */


#gs_title{
	text-align:center;
	width: 100%;
	padding: 5px 0px;
	text-shadow: 3pt 3pt 6pt black;
}


#gs_launch{
	width: 100%;
	text-align:center;
	padding: 10px 0px;

}

#gs_display{
	margin:auto;
	text-align:center;
	font-size:120%;
	text-shadow: 2pt 2pt 3pt black;
	padding-bottom: 20px;

	/*display:none;*/
}

#gs_display img{
	box-shadow: 5pt 5pt 10pt black;
}

#gs_display table{
	margin:auto;
	border-collapse:collapse;
	border-spacing:0px;
	border-style:none;
}

#gs_control{
	width:100%;
	text-align:center;
	padding-bottom: 10px;
	/*display:none;*/
}

#gs_control .color_button{
	border-radius:50%;
	/*width:10%;
	height:100%;*/
	margin: 0px 5px;
	border: silver 2pt solid;
}

#gs_control .color_button:focus{outline:0;}

#gs_results{
	background-color:#999;
	border-top:2px solid #ddd;
	border-bottom:2px solid #ddd;
	text-shadow:none;
	left:0;
	right:0;

	position: absolute;
	top:20%;

}

.gs_submit_form{
	background:#555;
	padding:0.25em;
}

.gs_submit_form #person{
	margin-right:2.0em;
}

.gs_submit_form input[type='button']{
	background:#070;
	padding:0 0.25em;
	color:white;
	font-weight:bold;
	border-radius:5px;

}
