.floodit-page {
  .page-header-and-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  .content {
    margin: auto;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .title {
    font-family: 'Poiret One', sans-serif;
    color: white;
    margin-bottom: 20px;
  }

  .floodit-page-content {
    flex: 1 0 auto;
    position: relative;
    min-height: 500px;
  }
}
